@font-face {
    font-family: GothaProBol;
    src: local("GothaProBol"), url(fonts/GothaProBol/GothaProBol.otf);
  }
  /*----ProximaNova-----*/
  @font-face {
    font-family: ProximaNova-Bold;
    src: local("ProximaNova-Bold"), url(fonts/ProximaNova/ProximaNovaBold.otf);
  }
  @font-face {
    font-family: ProximaNova-Semi-Bold;
    src: local("ProximaNova-Semi-Bold"), url(fonts/ProximaNova/ProximaNovaSemibold.otf);
  }
  @font-face {
    font-family: ProximaNova-Regular;
    src: local("ProximaNova-Regular"), url(fonts/ProximaNova/ProximaNovaRegular.otf);
  }
  @font-face {
    font-family: ProximaNova-Regular-Italic;
    src: local("ProximaNova-Regular-Italic"), url(fonts/ProximaNova/ProximaNovaRegularItalic.otf);
  }
  @font-face {
    font-family: ProximaNovaCondensedRegular;
    src: local("ProximaNovaCondensedRegular"), url(fonts/ProximaNova/ProximaNovaCondensedRegular.otf);
  }
  @font-face {
    font-family: ProximaNovaCondensedBold;
    src: local("ProximaNovaCondensedBold"), url(fonts/ProximaNova/ProximaNovaCondensedBold.otf);
  }
  @font-face {
    font-family: ProximaNovaExtraCondensedRegular;
    src: local("ProximaNovaExtraCondensedRegular"), url(fonts/ProximaNova/ProximaNovaExtraCondensedRegular.otf);
  }