<!--nav-main-->
          <div class="nav_main nav_main--bg">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                          <div class="nav_main-content">
                              <ul class="nav_main-content-list ">
                                  <li><a href="home.html">Accueil</a></li>
                                  <li class="active">Contacts</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!--contact-->
          <div class="about contact pb-5">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                          <h2 class="h2">Contacts</h2>
                          <div class="about__content contact__content">
                              <div class="about__left contact__left text-center">
                                  <div class="img">
                                      <%= image_tag("moi.png", :alt => "image") %>
                                  </div>
                                  <div class="logo">
                                      <img src="images/logo-white.svg" alt="">
                                  </div>
                              </div>
                              <div class="about__right contact__right">
                                  <div class=" text pl-5 contact__right__content">
                                      <form class="contact__right__form d-block mb-4 pb-4" action="#" method="post">
                                        <p>Pour toutes vos préoccupations, envoyez-nous votre demande</p>
                                        <div class="contact__right__form__item mb-2">
                                          <label for="Nom">Nom</label>
                                          <input type="text" required>
                                        </div>
                                        <div class="contact__right__form__item mb-2">
                                          <label for="Nom">Objet</label>
                                          <input type="text" required>
                                        </div>
                                        <div class="contact__right__form__item mb-3">
                                          <label for="Nom">Message</label>
                                          <textarea required></textarea>
                                        </div>
                                        <div class="contact__right__form__item contact__right__form--btn text-center">
                                          <button type="submit">Envoyer</button>
                                        </div>
                                      </form>
                                      <div class="phone phoneicon-">
                                          <a href="tel:0022962447474">(+229) 62-44-74-74</a>  / 
                                          <a href="tel:0022995472148">(+229) 95-47-21-48</a>
                                      </div>
                                      <div class="watsp fa fa-whatsapp mt-3 mb-3" aria-hidden="true">
                                          <a href="tel:0022995472148">(+229) 95-47-21-48</a>
                                      </div>
                                      <p class="font-italic">
                                          Do not forget to subscribe to my social networks, where you can 
                                          learn about my promotions and see a lot of interesting things ;)
                                      </p>
                                      <div class="follow mt-5">
                                        <div class="follow__titre mb-2">Suivez-nous sur:</div>
                                        <ul class="rs d-flex flex-wrap">
                                          <li><a href="#" class="facebookicon-" title="facebook"></a></li>
                                          <li><a href="#" class="instagramicon-" title="instagram"></a></li>
                                          <li><a href="#" class="snapchat-ghosticon-" title="snapchat"></a></li>
                                          <li><a href="#" class="twittericon-" title="twitter"></a></li>
                                          <li><a href="#" class="pinterest-circledicon-" title="pinterest"></a></li>
                                        </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>